# This action runs when a release PR is opened and updates the version of
# helm-values-gen in `actions/ensure-generated/action.yml` to the one of the PR.

name: Update action yml
on:
  workflow_run:
    workflows: ["Create Release PR"]
    types:
      - completed

jobs:
  update_action:
    uses: giantswarm/github-workflows/.github/workflows/update-action-version.yaml@main
    with:
      action_yml_path: actions/ensure-generated/action.yml
